/*start css do zadania nr 2
section {background-color: grey;}
.three {background-color: black;color: white}*/

body{font-family:'Roboto','Raleway',sans-serif;color:#212121;font: weight 700px;}
/*czcionka z adresu bez pochylenia*/
.address{font-style: normal;}